@inherits Umbraco.Web.Mvc.UmbracoViewPage<ywp.Models.SiteModels.ForgotPasswordModel>
@using Umbraco.Web

@using (Html.BeginUmbracoForm("SubmitReset", "ForgotPassword", System.Web.Mvc.FormMethod.Post))
{
    <section class="wrapper style1">
        <div class="row gtr-200">
            <div class="container">
                <section class="col-6 col-12-narrower">
                    <h2>Reset password</h2>
                    @Html.AntiForgeryToken()

                    <div class="row gtr-50">
                        <div class="col-4 col-12-mobilep">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })
                        </div>

                        <div class="col-12">
                            <ul class="actions">
                                <li>
                                    @if (TempData["error"] != null)
                                    {
                                        <h2>@TempData["error"]</h2>
                                    }

                                    @if (TempData["success"] != null)
                                    {
                                        <h2>@TempData["success"]</h2>
                                    }

                                    @Html.ValidationSummary()
                                    <input type="submit" class="button" value="Reset">
                                    <input type="button" value="Go to Log In" onclick="location.href='/log-in/'" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
}
