@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web

<!--
<section class="wrapper style1">
    <div class="row gtr-200">
        <div class="container">
            <h2>The resource you are looking for has been removed, had its name changed, or is temporarily unavailable.</h2>
        </div>
    </div>
</section>


@if (Umbraco.MemberIsLoggedOn())
{
    using (Html.BeginUmbracoForm("SubmitLogout", "LoginMember", System.Web.Mvc.FormMethod.Post, new { id = "logout" }))
    {
        @Html.AntiForgeryToken()
        var user = System.Web.Security.Membership.GetUser();
        if (user != null)
        {
            <section class="wrapper style1">
                <div class="container">
                    <p><strong>Page ID</strong> <span>@UmbracoContext.Current.PageId</span></p>
                    <p><strong>Logged in as</strong> <span>@user.UserName</span></p>
                    <p><strong>Email</strong> <span>@user.Email</span></p>
                    <p><strong>Creation date</strong> <span>@user.CreationDate</span></p>
                    <input type="submit" class="button" value="Log out">
                </div>
            </section>
        }
    }
}
-->
